--- 
title: Compass Normalize Utilities
crumb: Normalize Utilities
framework: compass
stylesheet: compass/normalize/_utilities.scss
layout: core
meta_description: Mixins for normalizing elements.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    These utilities are used to normalize your document. The easiest way to use them
    is to simply `@import "compass/normalize"` which will import this module and apply
    the appropriate mixins for you.
